@media (max-width: 1280px) {
    .admin-content {
        margin-left: 35%;
        margin-top: 5%;
        width: 30%;
    }
}

@media (min-width: 1280px) {
    .admin-content {
        margin-left: 40%;
        margin-top: 5%;
        width: 30%;
    }
}

@media (min-width: 1630px){
    .admin-content {
        margin-left: 35%;
        margin-top: 5%;
        width: 30%;
    }
}

@media (min-width: 2000px){
    .admin-content {
        margin-left: 35%;
        margin-top: 5%;
        width: 40%;
    }
}

.admin-content-content {
    margin-top: 10%;
}

.admin-content-table a {
    text-decoration: none;
    color: black;
}

.admin-content-table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.admin-content-table th, td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid lightgrey;
}

.admin-period-modal-content-table th, td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid lightgrey;
}

.admin-search {
    display: flex;
    align-items: center;
}

.admin-search img {
    width: 25px;
    cursor: pointer;
    margin-left: 5px;
}

.admin-search input {
    width: 100px;
    height: 20px;
}

.admin-detail-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.admin-detail-header button {
    width: 50px;
}

.admin-detail-content {
    margin-top: 10%;
}

.admin-detail-content p {
    font-size: large;
    margin-top: 10px;
}

.option-test {
    margin-top: 10%;
}

.option-detail {
    border: 1px solid lightgrey;
    margin-top: 20px;
    display: grid;
    width: 100%;
}

.option-detail span {
    margin: 5px;
}

.product-label {
    font-size: large;
    font-weight: bold;
}

.radio-label {
    font-size: medium;
    font-weight: 500;
}

.product-input {
    margin-left: 10px;
}

.radio-input {
    margin-left: 10px;
}

.add-product, .isOpen-radio {
    margin-top: 10px;
}

.option-header {
    display: flex;
    justify-content: space-between;
}

.option-detail div {
    margin-top: 5px;
}

.option-detail-header button {
    float: right;
}

.detail-first-thumbnail, .detail-thumbnail, .detail-info-image {
    margin-top: 5%;
}

.detail-thumbnail img, .product-thumbnail-content img {
    width: 150px;
    height: 200px;
    margin-right: 10px;
    margin-top: 10px;
}

.detail-info-image, .info-image-content {
    display: grid;
}

.detail-info-image img, .info-image-content img {
    width: 500px;
}

.file-input {
    display: none;
}

.thumbnail-header {
    margin-top: 5%;
}

.thumbnail-input {
    margin-top: 10px;
}

.thumbnail-input .file-input-btn {
    width: 130px;
    height: 30px;
    border: 1px solid lightgrey;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    border-radius: 10px;
    cursor: pointer;
}

.thumbnail-content {
    margin-top: 10px;
}

.first-thumbnail-content, .product-thumbnail-content {
    display: flex;
}

.first-thumbnail-content img {
    width: 400px;
}

.image-btn {
    padding: 4px;
    position: absolute;
    float: right;
    font-size: medium;
    background: none;
    color: black;
    border: none;
    cursor: pointer;
}

.first-thumbnail-delete-btn {
    margin-left: 360px;
}

.thumbnail-delete-btn {
    margin-top: 10px;
    margin-left: 110px;
}

.info-image-delete-btn {
    margin-top: 10px;
    margin-left: 460px;
}

.info-image-content-image {
    border-top: 1px solid lightgrey;
}

.product-submit-btn {
    float: right;
    width: 70px;
    height: 30px;
}

.admin-product-header {
    display: flex;
    justify-content: space-between;
}

.admin-product-header button {
    width: 70px;
    height: 30px;
}

.product-stock-table {
    width: max-content;
}

.admin-stock-option {
    color: grey;
}

.discount-btn {
    float: right;
    width: 70px;
    height: 30px;
}

.discount-content-header {
    margin-top: 20%;
    display: grid;
}

.discount-content-header div {
    margin-bottom: 5%;
}

.discount-input input {
    margin-left: 10px;
}

.discount-product-content {
    border : 1px solid lightgrey;
    margin-top: 5%;
}

.discount-product-content-header {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0 10px;
}

.discount-product-content-header button {
    width: 50px;
    height: 20px;
}

.discount-product-content-content {
    margin: 5% 15px 0 15px;
}

.discount-product-content div {
    margin-top: 10px;
}

.discount-product-content label {
    font-weight: 500;
}

.admin-order-body-tr {
    cursor: pointer;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
    cursor: auto;
}

.admin-modal-content {
    width: 700px;
    height: 500px;
    z-index: 150;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    background-color: white;
    justify-content: center;
    overflow: auto;
    border: 1px solid black;
}

.admin-modal-content .form-group label {
    font-weight: bold;
    font-size: large;
}

.admin-modal-content .form-group {
    margin: 10px;
}

.modal-content-content .admin-order-detail {
    border-top: 1px solid lightgrey;
    margin-top: 5%;
}

.modal-content-content .admin-order-detail-form {
    margin: 20px;
    border: 1px solid lightgrey;

}

.detail-info-form-group {
    display: flex;
}

.admin-order-detail-form h3 {
    margin: 10px 0 0 10px;
}

.admin-qna-classification-content {
    margin-top: 20%;
}

.admin-qna-classification-add-btn {
    float: right;
    width: 100px;
    height: 30px;
    margin-top: 20px;
}

.admin-qna-classification {
    margin-top: 15%;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.admin-qna-classification-delete-btn button, .classification-input-btn button{
    width: 100px;
    height: 30px;
}

.admin-qna-classification-input {
    border: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.admin-member-proc {
    margin-top: 20px;
}

.admin-member-point-input label {
    font-weight: bold;
}

.admin-member-point-input button {
    margin-left: 10px;

}

.admin-member-btn {
    margin-top: 20px;
    margin-left: 10px;
}

.admin-member-btn button {
    margin-right: 10px;
    width: 100px;
    height: 30px;
}

.admin-period-list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.admin-content-year-sales {
    margin-top: 10px;
    font-weight: bold;
    font-size: large;
}

.admin-period-table tr{
    cursor: pointer;
}

.content-period-detail-month {
    font-size: large;
}

.content-period-detail-month div {
    margin-top: 10px;
}

.content-period-detail-month label {
    font-weight: bold;
}

.content-period-detail-best-product {
    margin-top: 10%;
}

.best-product-content {
    border: 1px solid lightgrey;
    margin-top: 10px;
}

.best-product-content .best-product-content-header {
    font-weight: bold;
    font-size: large;
}

.best-product-content div {
    margin-top: 10px;
    margin-left: 5px;
}

.content-period-detail-classification, .admin-period-detail-daily-header {
    margin-top: 10%;
    margin-bottom: 5%;
}

.classification-sales {
    margin-top: 5%;
    border: 1px solid lightgrey;
}

.classification-sales-header {
    float: right;
}

.classification-sales-header button {
    width: 60px;
    height: 30px;
    margin: 5px 5px 0 0;
}

.classification-sales .form-group {
    margin: 5px 0 0 5px;
}

.admin-period-modal-content-sales {
    margin-top: 5%;
}

.admin-period-modal-content-sales label {
    font-weight: bold;
}

.admin-period-modal-table {
    margin-top: 5%;
    text-align: center;
    border-collapse: collapse;
}

.admin-period-modal-content-table {
    display: flex;
    justify-content: center;
}

.admin-period-daily-header-btn {
    margin-right: 5px;
    width: 70px;
    height: 30px;
    float: right;
}

.daily-classification-sales {
    width: 50%;
    margin-left: 10px;
}

.admin-period-order-content {
    border: 1px solid lightgrey;
    padding: 5px;
    margin-top: 5%;
    width: 450px;
}

.admin-period-order-content-total {
    font-weight: bold;
    font-size: large;
    margin-top: 5%;
}

.admin-period-order-content label {
    font-weight: bold;
}

.tr-pointer {
    cursor: pointer;
}

.mt-5-p {
    margin-top: 5px;
}

.mt-10-p {
    margin-top: 10px;
}

.mt-5-pe {
    margin-top: 5%;
}

.mt-10-pe {
    margin-top: 10%;
}

.b1-s-lg {
    border: 1px solid lightgrey;
}

.order-preparation-btn {
    width: 100px;
    height: 30px;
}

.admin-order-detail-check-btn {
    display: ruby-text;
}

.admin-search input {
    margin-left: 5px;
}