.side-nav {
    width: 190px;
    margin: 5% 0 0 20%;
    position: fixed;
}

.side-nav-ul {
    width: 195px;
}

.side-nav li {
    list-style: none;
    font-weight: bold;
    margin: 40px;
}

.side-nav-ul li, .side-nav-category-ul li {
    font-size: x-large;
}

.side-nav-ul li a, .side-nav-category-ul li a {
    text-decoration: none;
    color: black;
}

.side-nav-category-ul {
    width: 130px;
}

.qna-nav-ul li, .admin-side-nav-category-ul li {
    font-size: large;
    margin-left: 15px;
    margin-top: 20px;
}

.side-nav-category-ul li {
    width: 110px;
}

.admin-side-nav-category-ul {
    width: 190px;
}